# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
*.egg
*.whl

# Virtual Environment
venv/
env/
ENV/
env.bak/
venv.bak/

# Jupyter Notebook
.ipynb_checkpoints

# Data files
*.csv
*.h5

# Logs
*.log

# IDE specific files
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# MacOS specific files
.DS_Store
